doctype html
html
  head
    title
      | AUTO-SHIFT
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"]
    meta[name="description" content=""]
    meta[name="author" content=""]
    title
      | Start Bootstrap Template
    / link[href="css/simple-sidebar.css" rel="stylesheet"]
  body
    #wrapper
      = render 'layouts/partials/sidebar'
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              = yield
    script
      |  $("#menu-toggle").click(function(e) { e.preventDefault(); $("#wrapper").toggleClass("toggled"); }); 
