= form_for @shift, :html => { :class => "form-horizontal shift" } do |f|
  - if @shift.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        h3.panel-title
          = pluralize(@shift.errors.count, "error")
          |  prohibited this shift from being saved:
      .panel-body
        ul
          - @shift.errors.full_messages.each do |msg|
            li
              = msg
  .form-group
    = f.label :state, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field :state, :class => 'form-control'
    / / =f.error_span(:state)
  .form-group
    = f.label :store_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field :store_id, :class => 'form-control'
  .form-group
    = f.label :staff_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field :staff_id, :class => 'form-control'
  .form-group
    = f.label :pattern_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field :pattern_id, :class => 'form-control'
    / / =f.error_span(:pattern_id)
  .form-group
    = f.label :date, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.date_field :date, :class => 'form-control'
    / / =f.error_span(:date)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")),
                       shifts_path, :class => 'btn btn-default'
