- model_class = Shift
.page-header
  / #loading
  /   = image_tag asset_path("image.gif")
  #container    
    h1
      = Date.today.strftime("%Y年%m月")
      | のシフト

    form.form-inline
      .form-group
        label.sr-only[for="exampleInputAmount"]
          | Amount (in dollars)
        .input-group
          .input-group-addon
            | ¥
          input#exampleInputAmount.form-control[type="text" placeholder="123"]
          .input-group-addon
            |万
      button#button.btn.btn-success[type="button"]
        | 自動生成
        
    - req = []
    - @patterns.each do |pattern,i|
      - req.push(pattern.require_count) 
  
    .row
      - (Date.today.beginning_of_week..Date.today.end_of_week).each do |date| 
        .col-sm-2.col-xs-4.shift-column
          .shift-date
            - youbi = %w[日 月 火 水 木 金 土]
            - if date == Date.today
              .red = date.strftime('%d日('+ youbi[date.wday] + ')')
            - else
              = date.strftime('%d日('+ youbi[date.wday] + ')')
          hr
          - counts = [0,0,0]

          -@shifts.each do |shift|
            -if date == shift.date
              = form_for shift do |f| 
                = content_tag :div, class:"color#{shift.pattern_id}"
                  .checkbox
                    label.shift-label
                      - rand = Random.rand(10.0).to_i
                      - if rand >= 4
                        - if counts[shift.pattern_id-1] < req[shift.pattern_id-1]
                          = f.check_box 'state', {class: 'checked'},checked_value = "2", unchecked_value = "1"
                          - counts[shift.pattern_id-1] += 1
                        - else
                          = f.check_box 'state', {},checked_value = "2", unchecked_value = "1"
                      - else
                        = f.check_box 'state', {},checked_value = "2", unchecked_value = "1"
                    = shift.name 
                  / |(
                  / = @staff.priority
                  / |)
javascript:
        document.getElementById("button").onclick = function(){
        $("#loading").fadeOut();
          setTimeout(function(){$("input[class=checked]").prop("checked",true);$("#container").fadeIn();},3000);
        }
