- model_class = Shift
.page-header
  h1 シフトの詳細
dl.dl-horizontal
  dt
    strong
      = model_class.human_attribute_name(:state)
      | :
  dd
    = @shift.state
  dt
    strong
      = model_class.human_attribute_name(:store_id)
      | :
  dd
    = @shift.store_id
  dt
    strong
      = model_class.human_attribute_name(:staff_id)
      | :
  dd
    = @shift.staff_id
  dt
    strong
      = model_class.human_attribute_name(:pattern_id)
      | :
  dd
    = @shift.pattern_id
  dt
    strong
      = model_class.human_attribute_name(:date)
      | :
  dd
    = @shift.date
= link_to t('.back', :default => t("helpers.links.back")),
               shifts_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")),
               edit_shift_path(@shift), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")),
               shift_path(@shift),
               :method => 'delete',
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
               :class => 'btn btn-danger'
