= form_for @position, :html => { :class => "form-horizontal position" } do |f|
  - if @position.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        h3.panel-title
          = pluralize(@position.errors.count, "error")
          |  prohibited this position from being saved:
      .panel-body
        ul
          - @position.errors.full_messages.each do |msg|
            li
              = msg
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
    / =f.error_span(:name)
  .form-group
    = f.label :wage, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :wage, :class => 'form-control'
    / =f.error_span(:wage)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")),
                       positions_path, :class => 'btn btn-default'
