- model_class = Position
.page-header
  h1 役職の一覧
table.table.table-striped
  thead
    tr
      th
        = model_class.human_attribute_name(:id)
      th
        = model_class.human_attribute_name(:name)
      th
        = model_class.human_attribute_name(:wage)
      th
        = model_class.human_attribute_name(:created_at)
      th
        =t '.actions', :default => t("helpers.actions")
  tbody
    - @positions.each do |position|
      tr
        td
          = link_to position.id, position_path(position)
        td
          = position.name
        td
          = position.wage
        td
          =l position.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")),
                               edit_position_path(position), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
                                 position_path(position),
                                 :method => :delete,
                                 :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                 :class => 'btn btn-xs btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
            new_position_path,
            :class => 'btn btn-primary'
