- model_class = Position
.page-header
  h1 役職の詳細
dl.dl-horizontal
  dt
    strong
      = model_class.human_attribute_name(:name)
      | :
  dd
    = @position.name
  dt
    strong
      = model_class.human_attribute_name(:wage)
      | :
  dd
    = @position.wage
= link_to t('.back', :default => t("helpers.links.back")),
              positions_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_position_path(@position), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")),
               position_path(@position),
               :method => 'delete',
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
               :class => 'btn btn-danger'
