= form_for @pattern, :html => { :class => "form-horizontal pattern" } do |f|
  - if @pattern.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        h3.panel-title
          = pluralize(@pattern.errors.count, "error")
          |  prohibited this pattern from being saved:
      .panel-body
        ul
          - @pattern.errors.full_messages.each do |msg|
            li
              = msg
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
    / =f.error_span(:name)
  .form-group
    = f.label :start_time, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :start_time, :class => 'form-control'
    / =f.error_span(:start_time)
  .form-group
    = f.label :end_time, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :end_time, :class => 'form-control'
    / =f.error_span(:end_time)
  .form-group
    = f.label :require_count, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field :require_count, :class => 'form-control'
    / =f.error_span(:end_time)  
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")),
                      patterns_path, :class => 'btn btn-default'
