- model_class = Pattern
.page-header
  h1
    | パターン一覧
table.table.table-striped
  thead
    tr
      th
        = model_class.human_attribute_name(:id)
      th
        = model_class.human_attribute_name(:name)
      th
        = model_class.human_attribute_name(:start_time)
      th
        = model_class.human_attribute_name(:end_time)
      th
        = model_class.human_attribute_name(:require_count)
      th
        = model_class.human_attribute_name(:created_at)
      th
        =t '.actions', :default => t("helpers.actions")
  tbody
    - @patterns.each do |pattern|
      tr
        td
          = link_to pattern.id, pattern_path(pattern)
        td
          = pattern.name
        td
          = pattern.start_time
        td
          = pattern.end_time
        td
          = pattern.require_count
        td
          =l pattern.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")),
                                 edit_pattern_path(pattern), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), \
                                 pattern_path(pattern),
                                 :method => :delete,
                                 :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                 :class => 'btn btn-xs btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
             new_pattern_path,
             :class => 'btn btn-primary'
