- model_class = Pattern
.page-header
  h1 パターン詳細
dl.dl-horizontal
  dt
    strong
      = model_class.human_attribute_name(:name)
      | :
  dd
    = @pattern.name
  dt
    strong
      = model_class.human_attribute_name(:start_time)
      | :
  dd
    = @pattern.start_time
  dt
    strong
      = model_class.human_attribute_name(:end_time)
      | :
  dd
    = @pattern.end_time
  dt
    strong
      = model_class.human_attribute_name(:require_count)
      | :
  dd
    = @pattern.require_count
= link_to t('.back', :default => t("helpers.links.back")),
              patterns_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pattern_path(@pattern), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")),
               pattern_path(@pattern),
               :method => 'delete',
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
               :class => 'btn btn-danger'
