      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            = link_to  "Shiftiy", root_path
          h5
            | 店舗
          li
            = link_to "店舗情報編集", stores_path
          h5
            | 店員
          li
            = link_to "店員追加/編集", staffs_path
          i.fa.fa-user-o aria-hidden="true"
          h5
            | シフト
          li
            = link_to "パターン作成/編集", patterns_path
          li
            = link_to "シフト整理", shifts_path
          h5
            | 役職
          li
            = link_to "役職管理", positions_path
          li  
            -@patterns.each do |pattern|
              = content_tag :div, class: "color#{pattern.id}-font"
                = pattern.name
                .pattern-circle
                  | ●
