/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*!
  * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
  * Copyright 2013-2016 Start Bootstrap
  * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
  */
  @import "bootstrap-sprockets";
  @import "bootstrap";

  body {
     overflow-x: hidden;
  }

 /* Toggle Styles */

 #wrapper {
     padding-left: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 #wrapper.toggled {
     padding-left: 250px;
 }

 #sidebar-wrapper {
     z-index: 1000;
     position: fixed;
     left: 250px;
     width: 0;
     height: 100%;
     margin-left: -250px;
     overflow-y: auto;
     background: #1B676B;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 #wrapper.toggled #sidebar-wrapper {
     width: 250px;
 }

 #page-content-wrapper {
     width: 100%;
     position: absolute;
     padding: 15px;
 }

 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right: -250px;
 }

 /* Sidebar Styles */

 .sidebar-nav {
     position: absolute;
     top: 0;
     width: 250px;
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
 }

 .sidebar-nav li a {
     display: block;
     text-decoration: none;
     color: #EAFDE6;
 }
 .sidebar-nav h5 {
    margin-left: 5px;
     display: block;
     text-decoration: none;
     color: #EAFDE6;
 }


 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #fff;
     background: rgba(255,255,255,0.2);
 }

 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
     text-decoration: none;
 }

 .sidebar-nav > .sidebar-brand {
     height: 65px;
     font-size: 18px;
     line-height: 60px;
 }

 .sidebar-nav > .sidebar-brand a {
     color: #EAFDE6;
 }

 .sidebar-nav > .sidebar-brand a:hover {
     color: #fff;
     background: none;
 }

 @media(min-width:768px) {
     #wrapper {
         padding-left: 250px;
     }

     #wrapper.toggled {
         padding-left: 0;
     }

     #sidebar-wrapper {
         width: 200px;
     }

     #wrapper.toggled #sidebar-wrapper {
         width: 0;
     }

     #page-content-wrapper {
         padding: 20px;
         position: relative;
     }

     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
     }
 }

 .color1-font{
   font-size: 14px;
   float: left;
   color: #FDF2CE;
   clear: both;
 }
 .color2-font{
   font-size: 14px;
   float: left;
   color: #D4ECFD;
   clear: both;
 }
 .color3-font{
   font-size: 14px;
   float: left;
   color: #F2C7D6;
   clear: both;
 }
.pattern-circle{
  font-size: 28px;
  float: left;
}

.form-inline{
  margin-top: 20px;
  margin-bottom: 20px;
}
