// Place all the styles related to the shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// @mixin hoverfilter {
//   &:hover{
//     filter: brightness(95%);
//     -webkit-filter: brightness(95%);
//   }
// }

.color1{
  background-color: #FDF2CE;
  border-radius: 3px;
}
.color2{
  background-color: #D4ECFD;
  border-radius: 3px;
}
.color3{
  background-color: #F2C7D6;
  border-radius: 3px;
}

.checkbox{
  padding: 10px;
  font-size: 14px;
}

.shift-label{
  &:hover{
    color: #999;
  }
}

.staff-name{
  font-size: 16px;
}

.col-sm-2.shift-column{
  width: 14.28%;
}

.red{
  color: red;
}

.shift-date{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

// #container{display:none;}

#loading{
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-30px;
}
