= form_for @store, :html => { :class => "form-horizontal store" } do |f|
  - if @store.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        h3.panel-title
          = pluralize(@store.errors.count, "error")
          |  prohibited this store from being saved:
      .panel-body
        ul
          - @store.errors.full_messages.each do |msg|
            li
              = msg
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
    / =f.error_span(:name)
  .form-group
    = f.label :email, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, :class => 'form-control'
    / =f.error_span(:email)
  .form-group
    = f.label :tel, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :tel, :class => 'form-control'
    / =f.error_span(:tel)
  .form-group
    = f.label :address, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :address, :class => 'form-control'
    / =f.error_span(:address)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")),
                     stores_path, :class => 'btn btn-default'
