- model_class = Store
.page-header
  h1
    =t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th
        = model_class.human_attribute_name(:id)
      th
        = model_class.human_attribute_name(:name)
      th
        = model_class.human_attribute_name(:email)
      th
        = model_class.human_attribute_name(:tel)
      th
        = model_class.human_attribute_name(:address)
      th
        = model_class.human_attribute_name(:created_at)
      th
        =t '.actions', :default => t("helpers.actions")
  tbody
    - @stores.each do |store|
      tr
        td
          = link_to store.id, store_path(store)
        td
          = store.name
        td
          = store.email
        td
          = store.tel
        td
          = store.address
        td
          =l store.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")),
                                 edit_store_path(store), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
                                 store_path(store),
                                 :method => :delete,
                                 :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                 :class => 'btn btn-xs btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
             new_store_path,
             :class => 'btn btn-primary'
