- model_class = Store
.page-header
  h1
    =t '.title', :default => model_class.model_name.human.titleize
dl.dl-horizontal
  dt
    strong
      = model_class.human_attribute_name(:name)
      | :
  dd
    = @store.name
  dt
    strong
      = model_class.human_attribute_name(:email)
      | :
  dd
    = @store.email
  dt
    strong
      = model_class.human_attribute_name(:tel)
      | :
  dd
    = @store.tel
  dt
    strong
      = model_class.human_attribute_name(:address)
      | :
  dd
    = @store.address
= link_to t('.back', :default => t("helpers.links.back")),
               stores_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")),
               edit_store_path(@store), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")),
               store_path(@store),
               :method => 'delete',
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
               :class => 'btn btn-danger'
