= form_for @staff, :html => { :class => "form-horizontal staff" } do |f|
  - if @staff.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        h3.panel-title
          = pluralize(@staff.errors.count, "error")
          |  prohibited this staff from being saved:
      .panel-body
        ul
          - @staff.errors.full_messages.each do |msg|
            li
              = msg
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
    / =f.error_span(:name)
  .form-group
    = f.label :email, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, :class => 'form-control'
    / =f.error_span(:email)
  .form-group
    = f.label :position_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :position_id, :class => 'form-control'
    / =f.error_span(:position_id)
  .form-group
    = f.label :priority, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :priority, :class => 'form-control'
    / =f.error_span(:priority)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")),
                      staffs_path, :class => 'btn btn-default'
