- model_class = Staff
.page-header
  h1
    =t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th
        = model_class.human_attribute_name(:id)
      th
        = model_class.human_attribute_name(:name)
      th
        = model_class.human_attribute_name(:email)
      th
        = model_class.human_attribute_name(:position_id)
      th
        = model_class.human_attribute_name(:priority)
      th
        = model_class.human_attribute_name(:created_at)
      th
        =t '.actions', :default => t("helpers.actions")
  tbody
    - @staffs.each do |staff|
      tr
        td
          = link_to staff.id, staff_path(staff)
        td
          = staff.name
        td
          = staff.email
        td
          = staff.position_id
        td
          = staff.priority
        td
          =l staff.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_staff_path(staff), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
                                 staff_path(staff),
                                 :method => :delete,
                                 :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                 :class => 'btn btn-xs btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
             new_staff_path,
             :class => 'btn btn-primary'
