/ - model_class = Staff
/ .page-header
/   h1
/     =t '.title', :default => model_class.model_name.human.titleize
/ 
/ dl.dl-horizontal
/   dt
/     strong
/       = model_class.human_attribute_name(:name)
/       | :
/   dd
/     = @staff.name
/   dt
/     strong
/       = model_class.human_attribute_name(:email)
/       | :
/   dd
/     = @staff.email
/   dt
/     strong
/       = model_class.human_attribute_name(:position_id)
/       | :
/   dd
/     = @staff.position_id
/   dt
/     strong
/       = model_class.human_attribute_name(:priority)
/       | :
/   dd
/     = @staff.priority
/ = link_to t('.back', :default => t("helpers.links.back")),
/                staffs_path, :class => 'btn btn-default'
/ = link_to t('.edit', :default => t("helpers.links.edit")),
/                edit_staff_path(@staff), :class => 'btn btn-default'
/ = link_to t('.destroy', :default => t("helpers.links.destroy")),
/                staff_path(@staff),
/                :method => 'delete',
/                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
/                :class => 'btn btn-danger'
/ 
.calender_zone
  h1 シフト提出
  
  head
    javascript:
      | var CLIENT_ID = '671708083576-3iluvpvhekdv0linff5196beq280q7mv.apps.googleusercontent.com';
      | var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];
      | function checkAuth() {
        | gapi.auth.authorize(
          | {
            | 'client_id': CLIENT_ID,
            | 'scope': SCOPES.join(' '),
            | 'immediate': true
          | }, handleAuthResult);
      | }
      
      | function handleAuthResult(authResult) {
        | var authorizeDiv = document.getElementById('authorize-div');
        | if (authResult && !authResult.error) {
          | authorizeDiv.style.display = 'none';
          | loadCalendarApi();
        | } else {
          | authorizeDiv.style.display = 'inline';
        | }
      | }
      
      | function handleAuthClick(event) {
        | gapi.auth.authorize(
          | {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          | handleAuthResult);
        | return false;
      | }
      
      | function loadCalendarApi() {
        | gapi.client.load('calendar', 'v3', listUpcomingEvents);
      | }
      
      | function listUpcomingEvents() {
        | var request = gapi.client.calendar.events.list({
          | 'calendarId': 'primary',
          | 'timeMin': (new Date()).toISOString(),
          | 'showDeleted': false,
          | 'singleEvents': true,
          | 'maxResults': 10,
          | 'orderBy': 'startTime'
        | });
        
        | request.execute(function(resp) {
          | var events = resp.items;
          | appendPre('Upcoming events:');

          | if (events.length > 0) {
            | for (i = 0; i < events.length; i++) {
              | var event = events[i];
              | var when = event.start.dateTime;
              | if (!when) {
                | when = event.start.date;
              | }
              | appendPre(event.summary + ' (' + when + ')')
            | }
          | } else {
            | appendPre('No upcoming events found.');
          | }

        | });
      | }

      | function appendPre(message) {
        | var pre = document.getElementById('output');
        | var textContent = document.createTextNode(message + '\n');
        | pre.appendChild(textContent);
      | }
    script src="https://apis.google.com/js/client.js?onload=checkAuth" 



  body
    #authorize-div style=("display: none") 
      span Authorize access to Google Calendar API
      /! Button for the user to click to initiate auth sequence
      button#authorize-button onclick="handleAuthClick(event)" 
        | Authorize
    pre#output
    iframe frameborder="0" height="600" scrolling="no" src="https://calendar.google.com/calendar/embed?src=8i62evmesv0bgpggpa10e1ecps%40group.calendar.google.com&ctz=Asia/Tokyo" style=("border: 0") width="800" 
  
  
